<div class="header-bars-container clearfix">
    <div class="fl">
        <span class="orange mr10">亲，请登录</span>
        <a href="" class="mr10">免费注册</a>
        <a href="">消息</a>
    </div>
    <div class="fr">
        <ul>
            <li class="item"><i class='iconfont'>&#xe601;</i><a href="" class="ml5">公告</a></li>
            <li class="item"><i class="iconfont">&#xe600;</i><a href="" class="ml5">个人中心</a></li>
            <li class="item"><i class="iconfont">&#xe602;</i><a href="" class="ml5">电话</a></li>
            <li class="item"><a href="" class="ml5">退出</a></li>
        </ul>
    </div>
</div>