<div class="header-bars-container clear">
    <div class="left">
        <span class="orange mr10" id="userName"><a id="show-login-dialog" href="javascript:;"></a></span>
        <a href="javascript:;" id="show-register-dialog" class="mr10"></a>
    </div>
    <div class="right">
        <ul>
            <!--<li class="item"><i class='iconfont'>&#xe601;</i><a href="" class="ml5">公告</a></li>-->
            <li class="item"><i class="iconfont">&#xe606;</i><a href="/userDetailInfo" class="ml5">个人中心</a></li>
            <li class="item hide" id="admin"><i class="iconfont">&#xe605;</i><a href="/admin" class="ml5">后台管理</a></li>
            <li class="item"><a href="javascript:;" class="ml5" id="login-out">退出</a></li>
        </ul>
    </div>
</div>
<!--登录框-->
{{> login}}
