<div class="header-wrapper clear">
    <div class="left logo"><a href="javascript:;">二手物品交易系统</a></div>
    <div class="right">
        <div class="search-keywords">
            <input type="text" placeholder="请输入关键词"/>
        </div><a href="" class="btn btn-orange">搜索市场</a>
    </div>
</div>
<div class="nav">
    <ul class="clear">
        <li class="item"><a href="javascript:;">首页</a></li>
        <li class="item"><a href="javascript:;">跳蚤市场</a></li>
        <li class="item"><a href="javascript:;">校园代步</a></li>
        <li class="item"><a href="javascript:;">兼职招聘</a></li>
    </ul>
</div>
