<div class="header-bars-container clearfix">
    <div class="fl">
        <span class="orange mr10">亲，请登录</span>
        <a href="" class="mr10">免费注册</a>
        <a href="">消息</a>
    </div>
    <div class="fr">
        <ul>
            <li class="item"><i class='bpfont'>&#xe639;</i><a href="">公告</a></li>
            <li class="item"><a href="">个人中心</a></li>
            <li class="item"><a href="">电话</a></li>
            <li class="item"><a href="">退出</a></li>
        </ul>
    </div>
</div>