<!--用户注册登录找回密码弹窗-->
<script id="login" type="text/html">
    <div class="tab" id="login-tabs-wrapper">
        <ul class="tab-list clear">
            <li class="tab-item tab-current">用户登录</li>
            <li class="tab-item">用户注册</li>
            <!--<li class="tab-item">找回密码</li>-->
        </ul>
        <div class="tab-content">
            <!--用户登录-->
            <div class="tab-content-item tab-content-current">
                <form id="user-login-form" action="results.php" method="post" autocomplete="off"
                      data-validator-option="{theme:'yellow_right_effect',stopOnError:true}">
                    <div class="login-item">
                        <span class="login-item-label">账号</span>
                        <input type="text" id="login-account" name="login-account" class="sl-input" data-rule="账号:required;username"/>
                    </div>
                    <div class="login-item">
                        <span class="login-item-label">密码</span>
                        <input type="password" id="login-password" name="login-password" class="sl-input" data-rule="密码:required;password"/>
                    </div>
                    <div class="login-btn">
                        <a href="javascript:;" id="login-btn" class="btn btn-orange">立即登录</a>
                    </div>
                </form>
            </div>

            <!--/用户登录-->

            <!--用户注册-->
            <div class="tab-content-item">
                <form id="user-register-form" action="results.php" method="post" autocomplete="off"
                      data-validator-option="{theme:'yellow_right_effect',stopOnError:true}">
                    <div class="login-item">
                        <span class="login-item-label">账号</span>
                        <input type="text" name="register-account" id="register-account" class="sl-input"
                               data-rule="账号:required;username"/>
                    </div>
                    <div class="login-item">
                        <span class="login-item-label">密码</span>
                        <input type="password" name="register-password" id="register-password" class="sl-input"
                               data-rule="密码:required;password"/>
                    </div>
                    <div class="login-item">
                        <span class="login-item-label">确认密码</span>
                        <input type="password" name="register-repassword" id="register-repassword" class="sl-input"
                               data-rule="密码:required;password"/>
                    </div>
                    <!--<div class="login-item">-->
                        <!--<span class="login-item-label">电子邮箱</span>-->
                        <!--<input type="text" name="register-email" id="register-email" class="sl-input"-->
                               <!--data-rule="电子邮箱:required;email"/>-->
                    <!--</div>-->
                    <div class="login-btn">
                        <a href="javascript:;" id="register-btn" class="btn btn-orange">立即注册</a>
                    </div>
                </form>
            </div>

            <!--/用户注册-->

            <!--找回密码-->
            <!--<div class="tab-content-item">-->
                <!--3-->
            <!--</div>-->
            <!--/找回密码-->
        </div>
    </div>
</script>