<script src="javascripts/lib/require.js" data-main="javascripts/pages/detail"></script>
<div class="sl-detail">
    <div class="head">
        <ul class="clear">
            <li class="head-item account">
                <img src="//wwc.alicdn.com/avatar/getAvatar.do?userNick=leirenhua2009&width=30&height=30&type=sns"
                     alt=""/>
                <span class="ml5">句号小弟</span>
            </li>
            <li class="head-item">
                <p>宝贝浏览次数</p>

                <p>233</p>
            </li>
            <li class="head-item">
                <p>最近编辑</p>

                <p> 2016-04-23 18:33</p>
            </li>
            <li class="head-item-right">
                <a href="">举报改物品</a>
            </li>
        </ul>
    </div>
    <div class="sl-offer-detail-body clear">
        <div class="img-list">
            <div class="max-pic">
                <img src="https://cbu01.alicdn.com/img/ibank/2016/713/130/2783031317_1296207758.400x400.jpg" alt=""/>
            </div>
            <div class="min-pic-list">
                <ul class="clear">
                    <li class="item"><img
                            src="https://cbu01.alicdn.com/img/ibank/2015/630/958/2475859036_1927769647.60x60.jpg"
                            alt=""/></li>
                    <li class="item"><img
                            src="https://cbu01.alicdn.com/img/ibank/2015/630/958/2475859036_1927769647.60x60.jpg"
                            alt=""/></li>
                    <li class="item"><img
                            src="https://cbu01.alicdn.com/img/ibank/2015/630/958/2475859036_1927769647.60x60.jpg"
                            alt=""/></li>
                    <li class="item"><img
                            src="https://cbu01.alicdn.com/img/ibank/2015/610/697/2479796016_1927769647.60x60.jpg"
                            alt=""/></li>
                </ul>
            </div>
            <span><i class="iconfont mr5">&#xe604;</i>收藏产品(15)</span>
        </div>
        <div class="detail-text">
            <div class="detail-text-strong">
                <h2>全新IpadMini2 32G版本国行</h2>
                <span class="label">价格： </span><span class="orange mr5">￥</span><span class="f24 orange">20.00</span>
            </div>
            <p class="item"><span class="label">新旧程度： </span><span class="orange">全新</span></p>

            <p class="item"><span class="label">交易地点： </span><span>西科大东六宿舍</span></p>

            <p class="item"><span class="label">来自用户： </span><span>句号小弟</span></p>

            <p class="item"><span class="label">联系人： </span><span>狮子</span></p>

            <p class="item"><span class="label">联系电话： </span><span>18084887501</span></p>

            <p class="item"><span class="label">QQ号： </span><span>1887501</span></p>
        </div>
    </div>

    <!--详细信息以及留言-->
    <div class="main-info clear">
        <div class="left">
            <!--tab组件-->
            <div class="tab" id="tabs-wrapper">
                <ul class="tab-list clear">
                    <li class="tab-item tab-current">宝贝介绍</li>
                    <li class="tab-item">留言</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content-item tab-content-current">1</div>
                    <div class="tab-content-item">2</div>
                </div>
            </div>
            <!--/tab组件-->
        </div>
        <div class="right">
         <h4>猜你喜欢</h4>
            <div class="product-img">
                <img src="https://cbu01.alicdn.com/img/ibank/2014/148/504/1814405841_540208574.120x120xz.jpg_.webp" alt=""/>
            </div>
        </div>
    </div>
</div>
