<!doctype html>
<html>
<head>
    <link href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/less/seller.css"/>
    <!--<script src="javascripts/lib/require.js"></script>-->
    <!--<script src="http://g.tbcdn.cn/thx/brix-release/0.1.5/require-config-css-debug.js"></script>-->
    <title>test</title>
</head>
<body>
<div class="sl-wrapper">
    {{> header_bar}}
    {{> header}}
    {{{body}}}
</div>
</body>
</html>