<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/less/seller.css"/>
    <title>二手物品交易网站</title>
</head>
<body>
{{> header_bar}}
{{> header}}
{{{body}}}
</body>
</html>