<!doctype html>
<html>
<head>
    <link href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/less/seller.css"/>
    <title>test</title>
</head>
<body>
{{> header_bar}}
{{> header}}
{{{body}}}
</body>
</html>