<script src="javascripts/lib/require.js" data-main="javascripts/pages/home"></script>
<div class="sl-banner">
    <div id="banner-wrapper">
        <div class="content">
            <ul id="img-box">
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/cms/upload/2016/511/706/2607115_979997429.jpg?750x440" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/cms/upload/2016/001/806/2608100_979997429.png?750x440" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/cms/upload/2016/511/316/2613115_979997429.png?750x440" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/cms/upload/2016/871/585/2585178_295735330.jpg_.webp" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/cms/upload/2016/001/985/2589100_295735330.png" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/cms/upload/2016/501/885/2588105_295735330.png" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/img/back_ibank/2016/375/195/2591573_96354.jpg" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/img/back_ibank/2016/475/095/2590574_96354.jpg" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/img/back_ibank/2016/785/885/2588587_96354.jpg" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/cms/upload/2015/696/894/2498696_1696600531.png?750x450" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/cms/upload/2015/603/905/2509306_1696600531.png?750x450" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/cms/upload/2015/373/805/2508373_1696600531.png?750x450" alt=""/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer clearfix">
            <ul class="tab-nav">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="nav-btn">
                <a class="pre"><i class="iconfont">&#xe605;</i></a>
                <a class="next"><i class="iconfont">&#xe604;</i></a>
            </div>
        </div>
        <!--类目导航栏-->
        <div class="category-nav">
            <h4>导购类目</h4>
            {{#each categoryList}}
            <dl class="category-nav-dl f14 clear">
                <dt class="f14 mb5">{{categoryName}}<i class="iconfont ml5">&#xe60a;</i></dt>
                {{#each itemList}}
                <dd class="category-nav-item"><a href="{{link}}" target="_blank">{{name}}</a></dd>
                 {{/each}}
            </dl>
             {{/each}}
        </div>
    </div>
</div>

<!--热门推荐-->
<div class="sl-hot-recommend">
    <div class="sl-hot-recommend">
        <div class="sl-hot-recommend-floor-head">
            <h2 class="txt-bold">热门推荐</h2>
        </div>
        <div class="sl-hot-recommend-body">
            <ul class="clear">
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <img src="https://cbu01.alicdn.com/img/ibank/2016/481/385/2867583184_1343210851.220x220.jpg_.webp" alt=""/>
                    </div>
                    <div class="sl-offer-text">
                        <h4>我的测试标题</h4>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span class="f14">￥</span><span class="f24">118</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>西南科技大学东六</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<div style="display: inline-block" class="mr10">
    <h4>放大动效</h4>
    <div class="img-container">
        <img class="offer-img" src="https://cbu01.alicdn.com/img/ibank/2015/809/702/2700207908_560543674.220x220.jpg_.webp" alt=""/>
    </div>
</div>
<div style="display: inline-block" class="mr10">
    <h4>翻转动效</h4>
    <div class="img-box img-container">
        <img class="img-rotate" src="https://cbu01.alicdn.com/img/ibank/2015/153/457/2698754351_560543674.220x220.jpg_.webp" alt=""/>
    </div>
</div>
<div style="display: inline-block" class="mr10">
    <h4>图片hover放大+内容展示</h4>
    <div class="img-container">
        <img class="offer-img" src="https://cbu01.alicdn.com/img/ibank/2015/809/702/2700207908_560543674.220x220.jpg_.webp" alt=""/>
        <div class="img-hover-text">
            这里是offer信息内容展示
        </div>
    </div>
</div>

<div class="clear">
    <div style="position: relative;" class="offer-right mr10 fl">
        <h4>图片hover+offer右侧滑出</h4>
        <div class="img-container" style="position: absolute;">
            <img src="https://cbu01.alicdn.com/img/ibank/2015/809/702/2700207908_560543674.220x220.jpg_.webp" alt=""/>
        </div>
        <div class="offer-reccomend">
            <span>右侧滑出内容</span>
        </div>
    </div>


    <div style="position: relative;" class="offer-left mr10 fl">
        <h4>图片hover+offer左侧滑出</h4>
        <div class="img-container" style="position: absolute;">
            <img src="https://cbu01.alicdn.com/img/ibank/2015/809/702/2700207908_560543674.220x220.jpg_.webp" alt=""/>
        </div>
        <div class="offer-reccomend">
            <span>右侧滑出内容</span>
        </div>
    </div>
</div>

<h4 class="l-h">电梯动效</h4>
<ul class="lift ml5">
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
    <li>热销款</li>
</ul>

-->