<script src="javascripts/lib/require.js" data-main="javascripts/pages/home"></script>
<div class="sl-banner">
    <div class="content">
        <ul id="img-box">
            <li>
                <a href="javascript:;">
                    <div>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/511/706/2607115_979997429.jpg?750x440" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/001/806/2608100_979997429.png?750x440" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/511/316/2613115_979997429.png?750x440" alt=""/>
                    </div>
                </a>
            </li>
            <li class="tab-page">
                <a href="javascript:;">
                    <div>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/871/585/2585178_295735330.jpg_.webp" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/001/806/2608100_979997429.png?750x440" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/511/316/2613115_979997429.png?750x440" alt=""/>
                    </div>
                </a>
            </li>
            <li class="tab-page">
                <a href="javascript:;">
                    <div>
                        <img src="https://cbu01.alicdn.com/img/back_ibank/2016/375/195/2591573_96354.jpg" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/001/806/2608100_979997429.png?750x440" alt=""/>
                        <img src="https://cbu01.alicdn.com/cms/upload/2016/511/316/2613115_979997429.png?750x440" alt=""/>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer clearfix">
        <ul class="tab-nav">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
        <div class="nav-btn">
            <a class="pre"><i class="iconfont">&#xe605;</i></a>
            <a class="next"><i class="iconfont">&#xe604;</i></a>
        </div>
    </div>
</div>