.sl-detail {
  width: 1024px;
  margin: 0 auto;

  .head {
    margin: 30px 0;
    border: 1px solid @border;
    border-top: 2px solid @orange;
    
    .head-item {
      float: left;
      text-align: center;
      border-right: 1px solid @border;
      padding: 10px 10px;
    }

    .head-item-right {
      float: right;
      line-height: 56px;
      margin-right: 10px;
    }

    .account {
      width: 216px;
      text-align: left;

      img  {
        vertical-align: middle;
      }
    }
    
  }

  .sl-offer-detail-body {
      width: 1190px;
      margin: 0 auto;

    .img-list {
      float: left;
      width: 380px;

      .max-pic {
        img {
          width: 380px;
          height: 380px;
        }
      }

      .min-pic-list {
        padding: 20px 0;

        .current {
          border: 1px solid @orange;
        }

        .item {
          float: left;
          margin-right: 8px;

          &:hover {
            cursor: pointer;
          }
          img {
            width: 60px;
            height: 60px;
          }
        }
      }


    }
    
    .detail-text {
      float: left;
      height: 380px;
      width: 629px;
      margin-left: 15px;
      color: @body-color;

      .detail-text-strong {
        padding: 10px 10px;
        border-bottom: 1px solid @border;

        .label {
          padding: 15px 0;
        }
      }

      h2 {
        color: @main-title;
      }

      .label {
        width: 80px;
        font-size: 14px;
        color: @sub-title;
        display: inline-block;
      }

      .memo {
        width: 480px;
        margin-bottom: 20px;
      }

      .item {
        margin-top: 15px;
        padding-left: 10px;
      }
    }

    .recommend {
      float: left;
    }
  }

  .main-info {
    margin-top: 20px;
    .left {
      float: left;
      width: 800px;
    }

    .right {
      float: left;
      width: 150px;
      margin-left: 15px;
      background-color: @floorbg;

      h4 {
        font-size: 14px;
        padding: 10px 0;
        text-align: center;
      }
      .product-img {
        width: 110px;
        height: 110px;
        margin: 0 auto 30px auto;

        img {
          width: 110px;
          height: 110px;
          margin: 0 auto;
        }

        .price {
          text-align: center;
          padding-bottom: 5px;
        }
      }
    }
  }

  /*留言模块*/
  .sl-detail-records-list {

    .item-message {
    padding: 15px;
      border-top: 1px dashed @border;
    }

    .head-logo {
      float: left;
      margin-right: 15px;

      img {
        vertical-align: middle;
      }

      span {
        color: @orange;
      }
    }
    .content {
      width: 600px;
      float: left;
    }
    .send-btn {
      float: right;
    }
  }

  .sl-detail-record-words {

    .sl-detail-do-records {
      height: 125px;
      float: left;
      background-color: @floorbg;
    }
    .sl-detail-do-records-wrapper {
      padding: 10px;
    }

    .message {
      margin-right: 10px;
      .btn {
        color: #fff;
        float: right;
      }
    }

    .sl-detail-user {
      float: left;
      margin-right: 10px;
    }
    .sl-detail-add {
      float: left;
      width: 700px;

      textarea {
        width: 100%;
        height: 60px;
      }
    }
  }
  /*\留言模块*/
  .hide-item {
    display:  none;
  }
}