.header-wrapper{
  height: 54px;
  padding: 20px 110px;
  .logo {
    font-size: 26px;
    font-family: "LanTing ZhongHei","Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti;
  }
}
.nav {
  width: 500px;
  margin: 0 auto;
  color: @main-title;
  font-size: 14px;
  font: bold 14px/40px 'Microsoft YaHei';
  .item {
    float: left;
    margin-right: 56px;
  }
}
